// version 1.2.0    :   2017.11.01

#pagination {
	margin-top: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	direction: ltr;
	text-align: center;
	font-family: tahoma, irsans;
	background-color: #fff;
	
	border: 1px solid #fff;
	border-right-color: #ddd;
	border-bottom-color: #ddd;
	
	box-sizing: border-box; * { box-sizing: border-box }
	
	display: flex;
	justify-content: center;
	align-items: center;
	
	> .ul {
		display: flex;
		flex-wrap: nowrap;
		height: 36px;
		color: #111;
		border: 1px solid #ddd;
		border-radius: 0px;
		overflow: visible;
		
		> .li {
			display: flex;
			align-items: center;
			justify-content: center;
			min-width: 30px;
			height: 100%;
			border-right: 1px solid #ddd;
			cursor: pointer;
			
			&:hover { background-color: #eee; }
			&.active {
				top: -1px;
				height: 36px;
				color: #fff;
				background-color: rgba(30, 144, 255, 1);
			}
			
			&.next, &.prev {
				background-color: #eee;
			}
			
			&.dots {
				cursor: default;
				
				a {
					cursor: default;
				}
			}
			
			&:last-of-type {
				border: 0;
			}
			
			&.disabled {
				opacity: 0.5;
				cursor: default !important;
				
				* {
					cursor: default !important;
				}
			}
			
			&.hide {
				display: none;
			}
			
			> a {
				display: inline-block;
				
				i {
					width: 24px !important;
				}
			}
		}
	}
}
